@import "base"
* 
	margin: 0
	padding: 0 
	//box-shadow: 0 0 0 1px red
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	+f
	font-weight: normal 
	font-size: 14px
	color: #333 
	line-height: 1.2
	//-webkit-transform: translate3d(0,0,0)
	//-weblit-backface-visibility: hidden
// resets
a img, fieldset 
	border: none
a
	color: #333 
	text-decoration: none
p
	line-height: 1.4
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	+fb
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.wrap, .footer__in, .header__center
	position: relative
	width: 1170px
	margin: 0 auto
	+rt(1200)
		width: 800px
	+rt(840)
		width: auto
.title, .title-sub
	margin-bottom: 18px
	text-transform: uppercase
	&.is-line, &.is-line-center, &.is-line-white
		position: relative
		padding-bottom: 18px
		&:after
			content: ""
			position: absolute
			bottom: -2px
			left: 0			
			width: 90px
			height: 4px
			background: #333
	&.is-line-center
		&:after
			left: 50%
			margin-left: -45px
	&.is-line-white
		&:after
			background: #FFF 
	&.is-responsive
		+rt(840)
			padding: 0 10px
.title
	+fk
	font-size: 22px
	+rt(840)
		font-size: 18px
.title-sub, .date
	+fb
	font-size: 12px
	letter-spacing: 2px 
.date
	text-transform: uppercase
.text
	font-size: 14px
	line-height: 1.5
.header
	position: relative
	height: 650px
	padding: 0 25px
	margin-bottom: 20px
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -72px
		+s(circle-white) 
		+rt(840)
			display: none
	+rt(1200)
		padding: 0
	+rt(840)
		height: 400px
		padding: 0 10px
.header_inner
	height: auto
	padding: 0
	background-repeat: no-repeat 
	background-size: cover	
	box-shadow: 0 -1px 0 white inset
	background-position: 50% 50% 
	&:after
		display: none
	.header__in
		margin: 0 75px 0 0
.header__center
	padding: 0 25px 30px
	background-repeat: no-repeat 
	background-size: cover
	background-position: 50% 50% 
	box-shadow: 0 -1px 0 white inset
	+box
	+rt(840)
		padding: 0 10px 30px
.header__top, .header__in
	+clr	
.header__top
	padding-top: 25px
	margin-bottom: 20px
.slider-prev, .slider-next, .footer__prev, .footer__next
	position: absolute
	+trans(all .2s linear) 
	z-index: 200 
	i
		display: block
		+trans(all .2s linear)
		opacity: 0
	&:hover
		i
			opacity: 1 
	+rt(840)
		display: none
.slider-prev, .footer__prev
	left: 50%
	margin-left: -672px
	+s(m-slider-prev)
	i
		+s(m-slider-prev-h)
	+rt(1440)
		left: 12px
		margin: 0
.slider-next, .footer__next
	right: 50%
	margin-right: -672px
	+s(m-slider-next)
	i
		+s(m-slider-next-h)
	+rt(1440)
		right: 12px
		margin: 0
.slider-prev, .slider-next
	top: 330px
.footer__prev, .footer__next
	top: 140px 
.header__pager
	display: none
	position: absolute
	bottom: 30px
	left: 0
	right: 0
	text-align: center 
	z-index: 200 
	span
		display: inline-block
		width: 10px
		height: 10px
		margin: 0 4px
		border: 1px solid #fff
		border-radius: 50%
		cursor: pointer
		+ht
		&.cycle-pager-active
			background: #FFF 
	+rt(840)
		display: block
.lang
	float: right
	height: 26px
	padding-left: 40px
	border-left: 1px solid rgba(255,255,255,.6) 
	line-height: 26px
	a
		float: left
		+fs
		color: #FFF 
		+trans(color .2s linear)
		&:first-child
			margin-right: 22px
		&:hover
			color: $ch 
		&.is-active
			color: #333 
	+rt(840)
		padding: 0
		border: 0
.social
	float: right
	margin-top: 2px
	a
		float: left
		margin-right: 16px		
		i
			display: block
			+trans(opacity .2s linear)
			opacity: 0 
		&:hover
			i
				opacity: 1 
	+rt(840)
		float: left
.social__fb
	+s(social-fb)
	i
		+s(social-fb-h)
.social__vk
	+s(social-vk)
	i
		+s(social-vk-h)
.social__tw
	+s(social-tw)
	i
		+s(social-tw-h)
.social__ig
	+s(social-ig)
	i
		+s(social-ig-h)
.header__in
	position: relative
	margin: 0 75px 80px 0
	background: rgb(255,255,255) 
	background: rgba(255,255,255,.6) 
	z-index: 200
	+rt(840)
		margin: 0 75px 35px 0 
		background: #FFF 
.header__left
	position: relative
	float: left
	height: 75px
	margin-right: 38px
	padding-right: 360px - 275px
	background: #FFF 
	.logo
		+rt(840)
			margin: 18px 0 0 14px
			padding: 0  
			+s(logo-s)
.logo
	display: block
	margin: 16px 0 0 24px
	+s(logo)
	+ht
.link-home
	position: absolute
	top: 14px
	right: -25px
	padding: 7px
	background: rgb(51,51,51)  
	background: rgba(51,51,51,.3)  
	box-shadow: 0 1px 1px rgba(0,0,0,.1) inset
	border-radius: 50%	
	span
		position: relative
		display: block
		width: 36px
		height: 36px
		background: #363636
		+background-image(linear-gradient(#363636, #090705))
		border-radius: 50%
		+trans(all .2s linear)
	i
		position: absolute
		top: 11px
		left: 12px
		+s(home-white)
	&:hover, &.is-active
		span
			background: #fff 
		i
			+s(home-black)
	+rt(840)
		display: none
.nav
	position: relative
	float: left
	text-transform: uppercase
	z-index: 15 
	&:hover
		.nav__bg, .nav__close
			z-index: 200 
		ul
			z-index: 300 		
	& > ul
		position: relative
		float: left		
		& > li
			position: relative
			float: left
			height: 75px
			+trans(background .2s linear)
			overflow: hidden
			&.is-active
				background: #FFF 					
			&:hover
				background: #FFF 
				overflow: visible
				z-index: 200 
				ul
					+trans(opacity .2s linear)
					opacity: 1 
			& > a
				display: block
				height: 75px
				padding: 0 23px
				line-height: 79px
				+fk
				font-size: 14px
			ul
				position: absolute
				top: 76px
				left: 0
				padding: 23px
				background: #FFF 				
				opacity: 0
				&:after
					content: ""
					position: absolute
					top: -1px
					left: 0
					right: 0
					height: 1px
				a
					display: block
					padding: 10px 0
					white-space: nowrap
					font-size: 11px
					+trans(color .2s linear)
					+fb
					&:hover
						color: $ch 
						+rt(1200)
							color: #000 
	+rt(1200)
		display: none
		position: absolute
		top: 0
		left: 0
		right: 0
		background: #FFF 
		& > ul
			float: none
			background: #FFF 
			& > li
				float: none
				height: auto							
				text-align: center
				&.is-active
					& > a
						background: #f7c035 
				& > a
					height: 60px
					font-size: 18px
					line-height: 60px
				ul
					display: block
					position: relative
					top: auto
					padding: 18px 0
					background: url(../img/bg.jpg) 
					border: 4px solid #333
					border-width: 4px 0	
					opacity: 1 
					&:after
						content: ""
						position: absolute
						top: -10px
						left: 50%
						margin-left: -15px
						width: 0px
						height: 0px
						border-style: solid
						border-width: 0 15px 10px 15px
						border-color: transparent transparent $ch transparent
					&:before
						content: ""
						position: absolute
						top: -15px
						left: 50%
						margin-left: -21px
						width: 0px
						height: 0px
						border-style: solid
						border-width: 0 21px 14px 21px
						border-color: transparent transparent #333 transparent
					li
						&.is-active
							a
								background: #fff
								color: #333  
					a
						padding: 10px 23px
	+rt(840)
		top: 75px
		right: -75px
		& > ul
			padding: 0
.nav__bg
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0,.5) 
.nav__close 
	display: none
	position: absolute
	top: 0
	right: -75px
	width: 75px
	height: 75px
	background: #333 
	z-index: 30
	i
		display: inline-block
		+s(nav-close)
	+rt(840)
		top: -75px
		right: 0
.menu	
	display: none
	float: right
	height: 75px
	height: 75px
	padding: 0 30px
	background: none 
	text-transform: uppercase
	+fk
	font-size: 14px
	i, span
		display: inline-block		
		vertical-align: middle
	i
		margin-left: 15px
		+s(nav-link)
	&:hover
		background: #FFF 
	+rt(1200)
		display: block
	+rt(840)
		position: absolute
		top: 0
		right: -75px
		width: 75px
		padding: 0
		background: #333 
		text-align: center
		span
			display: none
		i
			margin: 0
			+s(nav-link-white)
		&:hover
			background: #333 
.search
	position: absolute
	top: 0
	right: -75px
	width: 75px
	height: 75px
	background: rgb(51,51,51) 
	background: rgba(51,51,51,.6) 
	overflow: hidden
	&:hover
		background: rgb(51,51,51)
		overflow: visible
		z-index: 20 
		input
			+trans(opacity .2s linear)
			opacity: 1 
	button
		width: 75px
		height: 75px
		background: none
		font-size: 0
		i
			display: inline-block
			+s(search)
	input
		position: absolute
		top: 0
		right: 75px
		width: 305px - 75px - 40px
		height: 75px
		padding: 0 20px
		background: rgb(51,51,51)
		+fs
		color: #FFF
		opacity: 0 
		+ph(#fff) 
	+rt(840)
		display: none 
.footer
	padding-top: 55px
	.logo
		float: left
		margin: 0 40px 0 0
		+rt(840)
			display: none
	+rt(840)
		padding-top: 10px
.footer__in
	.l
		+rt(840)
			margin-bottom: 20px
	.l__aside, .l__column
		+rt(1200)
			display: block
			width: 100%		
			padding: 0
	+rt(1200)
		& > .title
			display: none
.footer__top
	position: relative
	background: #333
	margin-bottom: 77px  
	&:after
		content: ""
		position: absolute
		top: -39px
		left: 50%
		margin-left: -72px
		+s(circle-black)
		+rt(840)
			display: none 
	+rt(840)
		margin-bottom: 57px
.footer__instagram
	padding: 15px 0 25px
	text-align: center
	span
		display: block
		margin-bottom: 8px
		+fs
		color: #FFF
	a
		+fk
		font-size: 22px
		text-transform: uppercase
		color: #FFF
		+trans(color .2s linear)
		&:hover
			color: $ch 
	+rt(840)
		padding: 25px 0 60px 
.footer__slider
	position: relative
	padding: 30px 0 110px
	&:after, &:before
		content: ""
		position: absolute
		left: 50%
		width: 90px
		height: 4px
		margin-left: -45px
		background: #FFF 
	&:after
		top: 0
	&:before
		bottom: 80px
	+rt(840)
		display: none
.footer__slider-in
	a
		margin-right: 4px 
.footer__nav
	float: left
	margin-top: 5px
	ul, li
		float: left
		+rt(840)
			float: none
	li
		margin-right: 45px 
		+rt(840)
			margin: 0 0 15px 0
			text-align: center
	a
		+fk
		+trans(color .2s linear)
		text-transform: uppercase
		&:hover
			color: $ch 
	+rt(840)
		float: none
		margin: 0
		padding-bottom: 5px
		border-bottom: 4px solid #333 
		a
			font-size: 18px
.join
	position: absolute
	bottom: -47px
	left: 50%
	width: 360px
	height: 94px
	margin-left: -184px	
	border: 4px solid #333
	background: #ffd50b
	text-align: center
	text-transform: uppercase	
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		background: url(../img/bg.jpg)  
		+trans(opacity .2s linear)
		opacity: 1 
	&:hover
		&:after
			opacity: 0
	span, strong
		position: relative
		display: block 
		z-index: 2
	span
		padding: 25px 0 7px
		+fb
		font-size: 11px		
	strong
		+fk
		font-size: 22px 
	+rt(840)
		width: 282px
		height: 76px
		margin-left: -141px 
		span
			padding: 17px 0 7px
		strong
			font-size: 20px
//partners
.partners__list
	padding: 25px 0
	border: 4px solid #333
	border-width: 4px 0
	+clr
	li
		float: left
		width: 25%
		height: 90px
		line-height: 90px
		text-align: center
		img
			vertical-align: middle
			opacity: .7 
			+gray
			&:hover
				+gray0
	+rt(1200)
		border-width: 0 0 4px 0
	+rt(840)
		display: none
.partners__info
	padding: 25px 10px
	border: 4px solid #333
	text-align: center
	.is-line-center
		&:after
			left: 50%
			margin-left: -45px
.partners__text
	margin-bottom: 18px
	line-height: 1.5
.partners__link
	a
		+fs
		+trans(color .2s linear)
		&:hover
			color: $ch 
//copyright
.copyright, .created
	text-align: right
	font-size: 12px
	line-height: 1.5
	+rt(1200)
		text-align: center
.copyright
	margin-bottom: 10px
	+rt(1200)
		padding-top: 25px
.created
	margin-bottom: 30px
	a
		display: inline-block
		margin: 5px 0 0 15px
		vertical-align: top
		font-size: 12px
		+s(created)		
		i
			display: block
			+s(created-h)
			+trans(all .2s linear)
			opacity: 0 
		&:hover
			i
				opacity: 1 
//item
.items	
	//width: 1170px
	overflow: hidden
	+rt(1200)
		width: 774px
		margin: 0 auto
	+rt(840)
		width: 320px
.items_mod

.items__in
	margin-right: -50px
.block
	position: relative
	display: block
	margin-bottom: 18px
	overflow: hidden
	&.animation-yellow-block 
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0	
			right: 0
			bottom: 0	
			background-image: url(../img/bg.jpg) 
			opacity: 0		
			+scale(2)
			+trans(all .2s linear) 
		&:hover
			&:after
				+scale(1)
				opacity: 1
			.title-sub, .title
				&.is-line-white
					&:after
						background: #000
	&.animation-change-pic
		&:hover
			.block__pic-hover
				opacity: 1
				+scale(1) 
	.title-sub, .title
		&:after
			+trans(background .2s linear)
	&.block_type-1, &.block_type-2, &.block_type-3, &.block_type-4, &.block_type-5, &.block_type-6, &.block_type-7, &.block_type-8, &.block_type-9
		+rt(840)
			width: 320px
	&.block_type-7
		+rt(840)
			width: 312px
	.block__in, .text, .date
		position: relative
		z-index: 5 
.block__link-more
	position: absolute
	bottom: 20px
	right: 20px
	padding: 5px 14px
	background: #FFF 
	+trans(all .2s linear)
	+fs	
	color: #000 
	z-index: 10 
.block__center
	display: inline-block
	vertical-align: middle
	line-height: 1.2
.block__pic
	position: relative
	overflow: hidden
.block__pic-default
	display: block
.block__pic-hover
	position: absolute
	top: 0
	left: 0
	opacity: 0		
	+scale(2)
	+trans(all .2s linear) 
.block_type-1, .block_type-6
	width: 378px
	height: 450px
.block_type-1
	.block__pic
		margin-bottom: 18px
	.block__in
		padding-right: 50px
		+trans(all .2s linear)
	.title
		margin: 0
	&.animation-yellow-block 
		&:hover
			.block__in			
				padding-left: 20px		
	+rt(840)
		height: auto
		color: #FFF 
		.block__pic
			margin: 0
		.block__in
			position: absolute
			left: 20px
			bottom: 20px
		.title-sub
			&:after
				+trans(background .2s linear)
				background: #fff
		&:hover
			color: #000 
			.block__in		
				padding-left: 0	
			.title-sub
				&:after
					background: #000
.block_type-2, .block_type-5
	width: 774px
	height: 140px
	+trans(color .2s linear)
	color: #FFF 
	.block__pic
		+clr
		img
			display: block
	.block__pic-big
		float: left
		margin-right: 18px
	.block__pic-in
		float: left
		img
			float: left
			margin-left: 18px
			&:first-child
				margin-left: 0
		+rt(840)
			display: none	
	.block__in
		position: absolute
		bottom: 20px
		left: 25px
	.text
		opacity: 0
		position: absolute
		bottom: 20px
		right: 20px
		left: 378px + 18px
		+trans(opacity .2s linear)
		color: #000	
	&.animation-yellow-block 
		&:hover
			color: #000 
			.text
				opacity: 1
	+rt(1200)
		width: 378px
		height: auto
		.block__pic-big
			float: left
			margin: 0 0 18px 0
	+rt(840)
		.block__pic-big
			margin: 0
.block_type-5
	.block__in
		bottom: auto
		top: 20px
	.title-sub
		margin: 0
.block_type-3
	width: 774px
	height: 292px
	.block__pic
		float: left
		margin-right: 18px
	.block__in
		padding-top: 18px
		overflow: hidden
	+rt(1200)
		width: 378px
		height: auto
		.block__pic
			float: none
			margin: 0
		.block__in, .text			
			+trans(all .2s linear)
		.block__in
			padding-right: 20px
		.text
			padding-right: 20px
		&.animation-yellow-block 
			&:hover
				.block__in
					padding: 0 20px 0 20px
				.text
					padding: 0 20px 20px 0
	+rt(840)
		color: #FFF 
		.title
			&:after
				+trans(background .2s linear)
				background: #fff 
		.text
			display: none
		.block__in
			position: absolute
			left: 20px
			bottom: 20px
			padding: 0
		&.animation-yellow-block 
			&:hover
				color: #000 
				.title
					&:after
						background: #000
				.block__in, .text
					padding: 0
.block_type-4, .block_type-6, .block_type-8
	.title
		padding: 0 20px 12px 
	.title-sub
		margin-bottom: 7px
	.title
		margin-bottom: 12px
	.block__in
		+trans(background .2s linear)
	&.animation-yellow-block 
		&:hover
			.block__in
				background: none 
.block_type-8
	.block__in
		left: auto
		right: 20px
.block_type-4, .block_type-8
	width: 774px
	height: 292px	
	.block__in
		position: absolute
		top: 20px
		left: 20px
		bottom: 20px
		width: 300px
		padding: 0 19px
		background: #FFF 
		text-align: center
		line-height: 252px
	.block__center
		line-height: 1.2
	.text
		margin-bottom: 12px
	&.animation-yellow-block 	
		&:hover
			.block__link-more
				background: #333
				color: #FFF 
	+rt(1200)
		width: 378px
		.block__in
			width: auto
			left: 20px
			right: 20px
		.block__link-more
			display: none
.block_type-6
	line-height: 450px 
	.block__in
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		line-height: 450px
	.block__center
		margin: 0 20px
		border: 4px solid #fff
		padding: 17px
		color: #FFF 
		text-align: center
		+trans(all .2s linear)
		z-index: 5 
	.title-sub, .title
		&.is-line
			&:after
				+trans(background .2s linear)
				background: #FFF 
	&.animation-yellow-block 
		&:hover
			.block__center
				border: 4px solid #000
				color: #000
			.title-sub, .title
				&.is-line
					&:after
						background: #000
.block_type-7
	width: 370px
	height: 284px
	border: 4px solid #333
	line-height: 284px
	.block__in
		padding: 0 19px
		text-align: center 
	.title
		padding: 0 20px 18px 
	&.animation-yellow-block 
		&:hover
			padding: 4px
			border: 0
.block_type-9
	width: 378px
	height: 292px
	text-align: center
	line-height: 292px
	background: #333 
	font-size: 0
	img
		position: relative
		display: inline-block
		vertical-align: middle
		z-index: 5 
//load-more
@-webkit-keyframes anim1
	from
		+rotate(0deg)
	to
		+rotate(360deg)
@-mox-keyframes anim1
	from
		+rotate(0deg)
	to
		+rotate(360deg)
@-o-keyframes anim1
	from
		+rotate(0deg)
	to
		+rotate(360deg)
.load-more
	padding: 20px 0
	text-align: center
	button
		background: none
	i
		display: inline-block
		+s(load-more)
		border-radius: 50%
		border: 2px solid #cdcdcd
		+rotate(0deg)		
	span
		display: block
		padding-top: 5px
		+fs
		+trans(color .2s linear)
	&:hover
		span
			color: $ch
	&.is-loading
		i
			+animation(anim1 1s infinite linear)
//slider
.slider	
	.title-sub, .title
		display: table
		margin: 0
	.title-sub
		height: 16px
		line-height: 16px
.slider__in
	margin-bottom: 18px
	font-size: 0
.slider__detail
	+clr
.slider__nav
	float: right
	margin-left: 20px
.slider__prev, .slider__next
	float: left
	&.disabled
		cursor: default
.slider__prev
	+s(slider-prev)
	&:hover
		+s(slider-prev-h)
	&.disabled
		+s(slider-prev-d)
.slider__next
	+s(slider-next)
	&:hover
		+s(slider-next-h)
	&.disabled
		+s(slider-next-d)
.slider__current
	float: left
	height: 16px
	padding: 0 17px
	line-height: 16px 
	+fs