@import "base"
//styles for inner pages
.bc
	float: left
	margin-top: 7px
	font-size: 10px
	color: #FFF
	li, a, span
		float: left
	a
		color: #FFF 
		+trans(color .2s linear)
		&:hover
			color: $ch 
	span
		margin: 0 2px
	+rt(840)
		display: none
.aside-nav
	margin-bottom: 20px
	background: url(../img/bg.jpg)
	border: 4px solid #333
	text-align: center
	ul
		padding: 15px 0
	a
		display: block
		padding: 12px
		+fs 
		&:hover
			color: #FFF 
	li
		&.is-active
			a
				background: #333
				color: #FFF 
.aside-blocks 		
	.items, .items__in
		width: 378px
	.block
		width: 378px
		margin: 0 0 20px 0
	.block_type-7
		width: 370px
//content
.content
	p
		margin-bottom: 30px
		line-height: 1.5
		+rt(840)
			margin-bottom: 20px
.content__l
	margin-bottom: 25px
	+clr
.content__column
	float: left
	width: 50%
	padding-left: 9px
	+box
	&:first-child
		padding: 0 9px 0 0
	p
		margin-bottom: 20px
	+rt(840)
		float: none
		width: auto
		padding: 0
		&:first-child
			padding: 0
.content__message
	padding: 15px 75px
	margin-bottom: 45px
	background: #facf00 
	text-align: center
	line-height: 2
	+fs
	+rt(840)
		margin-bottom: 20px
.content__list
	margin-bottom: 60px
	padding-left: 87px
	counter-reset: list
	li
		position: relative
		list-style-type: none
		&:before
			counter-increment: list
			content: counter(list)
			position: absolute
			top: 0
			left: -87px
			width: 60px
			height: 60px
			border: 4px solid #333
			+fk
			text-align: center			
			line-height: 60px			
			font-size: 22px
	p, img
		margin-bottom: 35px
	img
		max-width: 600px
		width: 100%
	+rt(840)
		padding-left: 47px
		margin-bottom: 20px
		li
			&:before
				left: -47px
				width: 28px
				height: 28px
				line-height: 28px
				font-size: 12px
		p, img
			margin-bottom: 20px   
.content__definitions
	margin-bottom: 10px	
	+clr
	dt
		float: left
		width: 180px
		margin-right: 65px 
	dd
		display: table
		li
			position: relative
			padding-left: 30px
			margin-bottom: 20px
			+fs
			line-height: 1.8
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				width: 18px
				height: 18px
				background: #ffd509  
			+rt(840)
				margin-bottom: 10px
	+rt(840)
		dt
			float: none
			width: auto
.content__quote 
	margin-bottom: 40px	
	+clr
	p
		float: left
		margin: 0 23px 0 0
		img, span
			display: block
		img
			margin-bottom: 15px
		span
			margin-bottom: 5px
			+fs
	q
		position: relative
		display: table
		padding-left: 55px
		+fb
		font-size: 16px
		line-height: 1.5
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			+s(quote)
	+rt(840)
		margin-bottom: 20px
		p
			float: none
			margin: 0
			overflow: hidden
			img
				float: left
				margin-right: 10px 
		q
			display: block
.content__user
	margin-bottom: 55px
	text-align: center
	+rt(840)
		margin-bottom: 20px
.content__user-in
	position: relative
	display: inline-block
	vertical-align: top
	img
		display: block
		max-width: 600px
		width: 100%
	+rt(840)
		margin: 0 -10px
.content__user-detail
	position: absolute
	top: 50%
	left: 100px
	right: 100px
	margin-top: -30px
	padding: 20px 
	border: 4px solid #333
	background: #FFF 
	+rt(840)
		left: 10px
		right: 10px
.content__video, .content__slider
	margin-bottom: 50px
.content__slider
	.slider
		margin: 0 auto
		+rt(1200)
			width: 800px
		+rt(840)
			width: 320px			
	.slider__item
		width: 772px
		img
			width: 100%
			height: auto
		+rt(1200)
			width: 800px
		+rt(840)
			width: 320px
	.slider__detail
		+rt(840)
		padding: 0 10px
	+rt(840)
		margin: 0 -10px 20px	
.content__video
	margin: 0 -10px 20px
	.title-sub
		+rt(840)
			padding: 0 10px
.content__video-in
	margin-bottom: 18px
	overflow: hidden
//banner-wide
.banner-wide
	margin: 60px 0 40px 0
	text-align: center
	+rt(840)
		display: none
//author & widget & contacts
.author, .widget, .contacts, .partner
	padding: 25px 0
	border: 4px solid #333	
	+clr
	a
		+trans(color .2s linear)
		&:hover
			color: $ch 
.author
	border-width: 4px 0	
.author, .partner
	+rt(840)
		margin: 0 -10px
		padding: 25px 10px
.author__title, .partner__title
	float: left
	width: 120px
	margin-right: 25px
	line-height: 1.8
	+rt(840)
		float: none
		width: auto
		margin: 0 0 10px 0
	.title-sub
		margin: 0
.author__pic
	float: left
	width: 180px
	margin-right: 20px
	img
		display: block
		width: 100%
	+rt(840)
		width: 110px
		margin-right: 10px
.author__detail
	overflow: hidden
.author__info
	+fs
	li
		margin-bottom: 5px	
.widget, .partner
	border-width: 0 0 4px
.widget
	+rt(840)
		display: none
.widget__item, .contacts__column
	float: left
	width: 50%
	padding-left: 10px
	+box
	&:first-child
		padding: 0 10px 0 0
	+rt(840)
		float: none
		width: auto
		padding: 25px 10px 0		
		&:first-child
			padding: 0 10px 25px
			border-bottom: 4px solid #333 
.contacts
	border-width: 4px 0
	margin-bottom: 45px
	p
		margin-bottom: 5px
		+fs
	+rt(840)
		margin: 0 -10px 20px
.partner
	margin-bottom: 40px
	+rt(840)
		margin-bottom: 20px
//form
.form
	.title, .title-sub
		text-align: center
	.title
		margin-bottom: 10px
.form_margin
	margin-bottom: 90px 
	+rt(840)
		margin-bottom: 20px
.form__in
	width: 570px
	margin: 0 auto
	+rt(840)
		width: 300px
.form__field
	margin-bottom: 8px
	+fs
	+clr
	&.is-error
		input, textarea
			border-color: #db0000
			color: #db0000 
			+ph(#db0000)
	input, textarea
		width: 100%
		border: 4px solid #333
		+box
		+ph(#333)
		text-align: center
		+fs
	input
		padding: 0 18px
		height: 58px
	textarea
		display: block
		padding: 18px
		height: 122px
		resize: vertical
	.form__select
		float: left
.form__select
	position: relative
	width: 138px
	+no-sel
	cursor: pointer	
	span
		position: relative
		display: block
		width: 138px
		height: 58px
		padding: 0 46px 0 22px 
		border: 4px solid #333
		line-height: 50px
		+box
		&:after
			content: ""
			position: absolute
			top: 22px
			right: 16px
			+s(arr-down)
		&:hover
			&:after
				+s(arr-down-h)
	ul
		display: none
		position: absolute
		top: 54px
		left: 0
		right: 0
		li
			height: 58px
			padding: 0 22px
			background: #333 
			line-height: 58px
			color: #fff 
	&.is-open
		ul
			display: block
.form__text
	float: left
	height: 58px
	width: 190px
	margin-right: 25px
	line-height: 58px
	text-align: right
	+rt(840)
		width: 90px
.form__btn
	text-align: center
	.btn
		width: 362px
		+rt(840)
			width: 300px
.btn	
	border: 4px solid #333
	background: url(../img/bg.jpg)
	span
		display: block
		height: 64px
		line-height: 64px
		+fk
		font-size: 22px
		text-transform: uppercase  
		+trans(background .2s linear)
		color: #333 
	&:hover
		span
			background: #ffd50b 
//blog & project
.blog
	+rt(840)
		margin: 0 -10px
.blog__in
	+rt(840)
		width: 320px
		margin: 0 auto
.blog__item
	position: relative
	margin-bottom: 20px
	img
		display: block
		+rt(1200)
			width: 100%
		+rt(840)
			width: auto
	+rt(840)
		width: 320px
		overflow: hidden
		.blog__link-more
			display: none	
.blog__item_mod
	.blog__detail
		left: auto
		right: 20px
		+rt(840)
			width: auto
			right: 20px
			left: 20px
	.blog__link-more
		left: 20px
		right: auto
.blog__detail
	position: absolute
	top: 20px
	left: 20px
	bottom: 20px
	width: 298px
	padding: 0 20px
	background: #FFF 
	text-align: center
	line-height: 252px
	+rt(840)
		width: auto
		right: 20px
		left: 20px
.blog__center
	display: inline-block
	vertical-align: middle
	line-height: 1.2
.blog__detail, .project
	.text
		margin-bottom: 10px 
.blog__link-more
	position: absolute
	bottom: 20px
	right: 20px
	padding: 5px 14px
	background: #FFF 
	+trans(all .2s linear)
	+fs	
	color: #000 
	&:hover
		background: #333
		color: #FFF  
.project
	width: 580px
	margin: 40px auto 10px
	padding: 20px 100px 
	background: #FFF 
	text-align: center
	+rt(1200)
		width: auto
	+rt(840)
		padding: 20px
//news-list
.news-list
	margin-bottom: 60px
	.slider__detail
		margin-bottom: 25px
	.slider
		+rt(840)
			width: 300px
	+rt(840)
		margin-bottom: 20px
.news-list__item
	width: 772px
	white-space: normal
	+clr
	.date
		float: left
		width: 105px
		padding: 25px 10px
		margin-right: 20px 
		border: 4px solid #333
		text-align: center
		line-height: 2
	.text
		overflow: hidden
	+rt(1200)
		width: 800px
	+rt(840)
		width: 300px
		.date
			float: none
			margin: 0 0 10px
			width: auto
			padding: 0
			border: none
			text-align: left
			line-height: 1.2
//calendar
.calendar
	margin-bottom: 60px
	.title-sub
		margin: 0
		line-height: 1.8
	table
		width: 100%		
		margin-left: -4px
		border-collapse: separate
		border-spacing: 4px
		+rt(840)
			margin-left: -2px
			border-spacing: 2px
	tr
		td
			background: #f3f3f1 			
			&:first-child
				background: #facf00 
		&:nth-child(2n)
			td
				background: #fff 				
				&:first-child
					background: #333
					color: #FFF 

	td
		padding: 10px 30px
		vertical-align: middle
		+rt(840)
			padding: 10px
			&:first-child
				text-align: center
	+rt(840)
		margin-bottom: 20px
//events
.events
	margin-bottom: 60px
	+rt(840)
		margin-bottom: 20px
.events__item
	margin-bottom: 40px
	+clr
	+rt(840)
		margin-bottom: 20px
.events__column
	display: table
	margin-bottom: 4px
	&:first-child
		float: left
		margin-right: 28px
		+rt(840)
			float: none
			margin: 0 0 15px 0
	+rt(840)
		display: block
		margin-bottom: 15px
.events__pic 		
	img
		display: block
		+rt(840)
			width: 100%
.events__link
	clear: both
	a
		display: block
		width: 180px
		height: 26px
		background: #facf00
		text-align: center
		+fs 
		line-height: 26px
		+trans(all .2s linear)
		&:hover
			background: #333
			color: #fff  
	+rt(840)
		text-align: center
		a
			display: inline-block
.events__detail
	margin-bottom: 15px
	.title-sub
		margin: 0
	td
		padding-bottom: 5px
		&:first-child
			padding-right: 25px 
			+rt(840)
				padding-right: 10px
.events__source
	a
		+fs
		color: $ch 
		+trans(color .2s linear)
		&:hover
			color: #333 
//map
.map
	margin-bottom: 45px
	+rt(840)
		margin-bottom: 20px
.map__in
	+rt(840)
		margin: 0 -10px
//category
.category
	position: relative
	width: 730px
	margin: 35px auto 30px
	text-align: center
	&:after
		content: ""
		position: absolute
		bottom: -60px
		left: 50%
		margin-left: -72px
		+s(circle-white) 
		+rt(840)
			display: none
	.title, .title-sub
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.6) 
		color: #FFF 
	.title
		display: inline-block
		padding: 20px 55px 18px
		margin: 0
		font-size: 42px
		letter-spacing: 4px
		&:after
			width: 170px
			margin-left: -65px
	.title-sub
		padding: 20px 30px 30px 
		line-height: 1.8
	+rt(840)
		width: auto
//join-title
.join-title
	position: relative
	width: 700px
	margin: 55px auto 25px
	text-align: center
	font-size: 0
	&:after
		content: ""
		position: absolute
		bottom: -55px
		left: 50%
		margin-left: -72px
		+s(circle-white) 
		+rt(840)
			display: none
	.title, .title-sub
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.6) 
		color: #FFF 
	.title
		padding: 20px 0
		margin: 0
		font-size: 42px
		letter-spacing: 4px 
		span
			display: block
	.title-sub
		display: inline-block
		padding: 0 90px 35px
		&:after
			bottom: 15px
	+rt(840)
		width: auto
//join-nav
.join-nav
	display: none
	margin-bottom: 30px 
	+rt(840)
		display: block
.join-nav__text
	margin-bottom: 20px
	text-align: center
	color: #FFF
	+fs 
	line-height: 1.8
.join-nav__btns
	text-align: center
	font-size: 0
	button
		width: 12px
		height: 12px
		margin: 0 4px
		background: #FFF
		border-radius: 50%
		vertical-align: top
		&.is-active
			background: none
			border: 1px solid #fff 
//tabs
.tabs
	margin-bottom: 40px
.tabs__nav
	margin-bottom: 55px
	font-size: 0
	button
		position: relative
		width: 33.33%
		height: 80px
		padding: 0 30px
		background: #FFF 
		vertical-align: top
		+fs
		line-height: 1.8
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 50%
			width: 90px
			height: 4px
			margin-left: -45px
			background: #333 
		&.is-active
			background: url(../img/bg.jpg) 
	+rt(1200)
		button
			padding: 0 10px
.tabs__text
	margin-bottom: 40px
	-moz-column-count: 2
	-webkit-column-count: 2
	column-count: 2
	-moz-column-gap: 20px
	-webkit-column-gap: 20px
	column-gap: 20px
	+rt(840)
		margin-bottom: 40px
		-moz-column-count: 1
		-webkit-column-count: 1
		column-count: 1
		-moz-column-gap: 0
		-webkit-column-gap: 0
		column-gap: 0
	p
		margin-bottom: 15px
//joining
.joining
	+rt(840)
		padding: 0 10px
		.tabs__nav
			display: none
//popup
.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #999
	z-index: 1000  
.popup
	position: fixed
	top: 200px
	left: 50%
	width: 420px
	padding: 20px
	margin-left: -230px 
	background: #FFF 
	text-align: center
	z-index: 1100  
	.text
		margin-bottom: 20px
.popup__btn-close
	position: absolute
	top: 0
	right: -35px
	width: 35px
	height: 35px
	background: #334 
	i
		display: inline-block
		+s(m-slider-close)
.link
	text-align: center
	a
		display: inline-block
		height: 26px
		padding: 0 17px
		background: #facf00 
		line-height: 26px
		+trans(all .2s linear)
		+fs
		&:hover
			background: #333
			color: #fff  
	